<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- AboutTab -->
  <ion-tab title="About" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- MetricTab -->
  <ion-tab title="BMI: Metric" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/metric">
    <ion-nav-view name="tab-metric"></ion-nav-view>
  </ion-tab>

  <!-- ImperialTab -->
  <ion-tab title="BMI: Imperial" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/imperial">
    <ion-nav-view name="tab-imperial"></ion-nav-view>
  </ion-tab>

</ion-tabs>
